<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚾️</text></svg>">

  <body style="margin: 0px;">

    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="module">
      _main.default()
    </script>

  </body>

</html>